<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" sizes="48x48" href="../static/favicon.png">
  <link rel="stylesheet" href="../static/css/index.css">
  <script type="text/javascript" src="../static/javascript/form.js"></script>
  <script type="text/javascript">
    function createTopic() {
      formContent = new FormData();
      formContent.append('title', document.getElementById('title-submit').value)
      formContent.append('body', document.getElementById('body-submit').value)
      if (formContent.get('title') !== '') {
        sendForm("/maketopic", formContent);
      } else {
        alert('Can\'t send an empty title!');
      }
    }

    function unhideForm() {
      document.querySelectorAll('.hidden').forEach((el) => {
        if (el.classList.contains('newtopic')) {
          el.classList.remove("hidden");
        }
      });
      const addBtn = document.getElementById('newtopic-button');
      addBtn.classList.add("hidden");
    }

    function hidePost() {
      const addBtn = document.getElementById('newtopic-button');
      addBtn.classList.remove("hidden");
      document.querySelectorAll('.newtopic').forEach((el) => {
        if (!el.classList.contains('hidden')) {
          el.classList.add("hidden");
        }
      });

    }
  </script>
  <title>{{ title }}</title>
</head>

<body>
  <div class="center">
    <h1 class="title">{{ title }}</h1>
    <button id="newtopic-button" onclick="unhideForm()">New Post</button>
    <form class="input hidden newtopic center">
        <input name="title" type="text" title="Post title" id="title-submit">
        <br>
        <br>
        <textarea name="body" id="body-submit"></textarea>
    </form>
    <div>
      <button class="hidden newtopic" onclick="createTopic()">Create Topic</button>
      <button class="hidden newtopic" onclick="hidePost()">Cancel</button>
    </div>
    <h2>Posts</h2>
    <div id="posts">
      {% for post in posts %}
      <a href="{{ url_for('viewtopic', id=post.uuid) }}">{{ post.title }}</a><br><br>
      {% endfor %}
    </div>
  </div>
</body>

</html>
