<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/post.css">
    <link rel="icon" type="image/png" sizes="48x48" href="../static/favicon.png">
    <title>{{ site_title }}|{{ post.title }}</title>
    <script type="text/javascript" src="../static/javascript/form.js"></script>
    <script type="text/javascript">
        function replyToThread() {
            formContent = new FormData();
            formContent.append('body', document.getElementById('reply_body').value)
            if (formContent.get('body') !== '') {
                sendForm("/makereply/{{ post.uuid }}", formContent);
            } else {
                alert('Can\'t send an empty reply!');
            }
        }
    </script>
</head>

<body>
<div class="center">
    <h1>{{ post.title }}</h1>
    <div id="post">
      {% if post.image != None %}
      <img src="{{ post.image }}" />
      {% endif %}
      <h3>{{ post.title }}</h3>
      <p>{{ post.body }}</p>
      <h4>Replies</h4>
      <div id="replies">
        {% for reply in post.replies %}
        {{ reply.render()|safe }}<br>
        {% endfor %}
      </div>
      <div id="post_reply">
        <form>
          <textarea id="reply_body" name="body"></textarea><br>
        </form>
        <button onclick="replyToThread()">Reply!</button>
      </div>
    </div>
    </div>
</body>

</html>
